@tailwind base;
@tailwind utilities;
@tailwind components;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  /* background-image: url(https://tailwindcss-glassmorphism.vercel.app/sunset.jpg); */
  background-image: url(../public/background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.start-btn {
  box-shadow: inset 0 0 5px #dcdada, 0 0 5px #757575;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box-container {
  box-shadow: 0 0 10px #dcdada;
}

/* styles.css */

.active {
  box-shadow: inset 0 0 20px #121212;
  transform: scale(1.01);
  transition: transform 0.2s, box-shadow 0.2s;
  position: relative;
  /* border-color: black; */
}

.startActive {
  display: block;
}

.startHidden {
  opacity: 0;
}
